<!-- Optional additional links to insert in sidebar nav -->
<br>
{% if tags_page %}
    <a id="tags-link"
       
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      Search by Tag
    </a>

    <br>

    <a id="about-link"
       title="About" aria-label="About"
       href="{{ "/about" | relative_url }}">
      About
    </a>

    <a id="contact-link"
       title="Contact" aria-label="Contact"
       href="{{ "/contact" | relative_url }}">
      Contact
    </a>




  {% endif %}